{% extends "base.html" %}
{% block content %}
  <!-- Header -->
  <div class="card text-bg-dark">
      <img  style="height: 510px;" src="https://wallpaper.news/images/2022-03-01/medium/1920x1080-wallpaper-4k/1920x1080-wallpaper-4k-11.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
          <h1 style="text-align: center; font-size: 150px; font-family: Dancing Script;  font-weight: bold;" class="card-title mt-5">{{ category }}</h1>
      </div>
  </div>
  <!-- Section -->
  <div class="contact-title mb-2" style="font-style: italic; font-size: 17px; ">
      <div class="contact-fix">
          <span><a href="{%url "home"%}" style="color: #bdbdbd; text-decoration: none;">Home</a></span>
          <span style="color: #616161;">/ {{ category }}</span>
      </div>
  </div>
  <section class="py-5" style="background-color: #e0e0e0">
      <div class="container px-4 px-lg-5 mt-5">
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              {% for product in products %}
                {% if product.is_sale %}
                  <div class="col mb-5">
                      <div class="card h-100">
                          <!-- Sale badge-->
                          <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                          <!-- Product image-->
                          <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">{{ product.name }}</h5>
                                  <a href="" style = "text-decoration: none;">{{ product.category }}</a>                   
                                  <hr>
                                  <!-- Product price-->
                                  <span class="text-muted text-decoration-line-through">${{ product.price }}</span>&nbsp;
                                  ${{ product.sale_price }}
                              </div>
                          </div>
                          <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{%url "product" product.id%}">View</a></div>
                          </div>
                      </div>
                  </div>
                {% else %}
                  <div class="col mb-5">
                      <div class="card h-100">
                          <!-- Product image -->
                          <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                          <!-- Product details -->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name -->
                                  <h5 class="fw-bolder">{{ product.name }}</h5>
                                  <!-- Product price -->
                                  <a href="" style = "text-decoration: none;">{{ product.category }}</a>                   
                                  <hr>
                                  ${{ product.price }}
                              </div>
                          </div>
                          <!-- Product actions -->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center">
                                  <a class="btn btn-outline-dark mt-auto" href="{%url "product" product.id%}">View</a>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endif%}
              {% endfor %}
          </div>
      </div>
  </section>
{% endblock  %}