{% extends "base.html" %}
{% block content %}
    <div class="container p-4 mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Login</h4>                              
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" placeholder = "Enter your username">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" placeholder = "Enter your password">
                            </div>
                            <div class="text-center mt-2">
                                <button type="submit" class="btn btn-secondary">Login</button><br>
                                <a href="{%url "register"%}" style="color: #1976d2">Create Account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}