{% extends "base.html" %}
{% block content %}
<div class="container p-4 mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">User's Profile</h4>                              
                    <form method="POST" action="{% url 'update_user' %}">
                        {% csrf_token %}
                        {{user_form.as_p}}
                        <div class="text-center mt-2">
                            <button type="submit" class="btn btn-secondary">Save</button><br>
                        </div> 
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}